body {
    background: white;
    margin-top: 3rem;
}
li {
  margin: 3px;
}
.account-img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.site-header .navbar-nav .nav-link {
    font-size: medium;
    font-weight: 600;
    color: black;
    padding-left: 10px;
    padding-right: 10px;

}

.site-header .navbar-nav .nav-link:hover {
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: red;
    border-radius:5px ;
}


div.practice-dashboard {
    margin: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1; /*Add this*/
}

.sticky + .content {
  padding-top: 60px;
}

