{% extends "home_module/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="container mt-3 border-bottom">
                <div class="row">
                    <div class="col-lg-12 d-flex mt-3">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img src="{{user.profile.image.url}}" class="rounded-circle account-img" alt="">
                            </div>
                            <div class="col-5 mt-2">
                                <h4>{{user.first_name}} {{user.last_name}}</h1>
                                    <h6>{{user.profile.bio}}</h6>
                                    <h6>{{user.email}}</h6>
                                    <h6>Work Experience: {{user.profile.work_experience}} Year(s)</h6>
                                    <h6>User Since: {{user.date_joined}}</h6>
                            </div>
                            <div class="col-2 mt-2">
                                <h4>Total points</h4>
                                <h1>
                                    {{user.profile.score}}
                                </h1>
                                <h6>
                                    from solving coding challanges
                                </h6>
                            </div>
                            <div class="col-5 mt-2">
                                <h4>Work Experience</h4>
                                <h1>
                                    {{user.profile.work_experience}}
                                </h1>
                                <h1>
                                    Year(s)
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <h5 class="mb-3">Blogs wriiten by You</h5>
                <div class="row" style="height: 300px;">
                    {% for blog in blogs %}
                    <div style="background-color: white; border-radius: 15px; height:auto"
                        class="col-lg-12 mb-3 border">
                        <div class="col-lg-12 d-flex">
                            <div class="material-icons ms-2 mt-2" style="font-size: large; padding-top: 4.5px;">person
                            </div>
                            <h6 class="ms-1 mt-2" style="padding-top: 3.5px;">
                                {{blog.author.first_name}} {{blog.author.last_name}}
                            </h6>
                            <div class="material-icons ms-2 mt-2" style="font-size: large; padding-top: 4.5px;">schedule
                            </div>
                            <h6 class="ms-1 mt-2" style="padding-top: 3.5px;">
                                {{blog.date_posted}}
                            </h6>
                        </div>
                        <div class="ms-2 mt-2 col-12">
                            <h4>{{blog.title}}</h4>
                        </div>
                        <div class="ms-2 mt-2 col-11">
                            <p>{{blog.content|slice:":500"}}....</p>
                        </div>
                        {% if blog.author_id == user.id %}
                        <div class="ms-2 mt-2 d-flex justify-content-start mb-3">
                            <a class="btn btn-primary" href="{% url 'ViewBlog' blog.slug %}">Read more</a>
                            <a class="btn btn-warning ms-2" href="{% url 'EditBlog' blog.slug %}">Edit</a>
                        </div>
                        {% else %}
                        <div class="ms-2 mt-2 col d-flex justify-content-start mb-3">
                            <a class="btn btn-primary" href="{% url 'ViewBlog' blog.slug %}">Read more</a>
                        </div>
                        {% endif %}
                    </div>
                    {% empty %}
                    <h5>No Blogs</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h4>My Profile</h4>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        <div class=" form-group">
                            {% csrf_token %}
                            {% for field in UserUpdationForm.visible_fields %}
                            <div class="form-group">
                                {% render_field field class="form-control mt-4" placeholder=field.label %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger mt-2">{{error}}</div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        {% for field in ProfileUpdationform.visible_fields %}
                        <div class="form-group">
                            {% render_field field class="form-control mt-4" placeholder=field.label %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger mt-2">{{error}}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="from-group">
                            <button class="btn btn-info mt-4" type="submit">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}