{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{% static 'login_module/js/base.js' %}"></script>
        <link rel="stylesheet" href="{% static 'login_module/css/base.css' %}">
        <link rel=stylesheet href="{% static 'compiler_module/lib/codemirror.css' %}">
        <!-- <link rel=stylesheet href="{% static 'compiler_module/doc/docs.css' %}"> -->
        <script src="{% static 'compiler_module/lib/codemirror.js' %}"></script>
        <script src="{% static 'compiler_module/mode/xml/xml.js' %}"></script>
        <script src="{% static 'compiler_module/mode/python/python.js' %}"></script>
        <script src="{% static 'compiler_module/mode/javascript/javascript.js' %}"></script>
        <script src="{% static 'compiler_module/mode/css/css.js' %}"></script>
        <script src="{% static 'compiler_module/mode/htmlmixed/htmlmixed.js' %}"></script>
        <script src="{% static 'compiler_module/addon/edit/matchbrackets.js' %}"></script>
        <script src="{% static 'compiler_module/addon/edit/matchtags.js' %}"></script>
        <script src="{% static 'compiler_module/addon/edit/closetag.js' %}"></script>
        <script src="{% static 'compiler_module/addon/edit/closebrackets.js' %}"></script>
        <script src="{% static 'compiler_module/doc/activebookmark.js' %}"></script>
        <script src="{% static 'compiler_module/addon/hint/show-hint.js' %}"></script>
        <script src="{% static 'compiler_module/addon/hint/anyword-hint.js' %}"></script>
        <link rel="stylesheet" href="{% static 'compiler_module/addon/hint/show-hint.css' %}">
        <link rel="stylesheet" href="{% static 'compiler_module/theme/dracula.css' %}">
        </link>
        <!-- Bootstrap CSS  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
              crossorigin="anonymous">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>CodeRank</title>
        {% endif %}
    </head>

    <body>
        <div class="container">
            <div class="row mt-5" style="margin-left: 60px;">
                <h1>
                    Welcome to CodeRank
                </h1>
            </div>
            <div class="row d-flex">
                <div class="col-6 mt-5">
                    <img src="{% static 'login_module/img/welcome.svg' %}" class="rounded img-fluid" alt="">
                </div>
                <div class="col-6 d-flex align-items-center">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-5">
                            <h2>CodeRank</h2>
                            <p style="text-align: left;">
                                Join over 11 million developers, practice coding skills, prepare for interviews and get
                                hired
                            </p>
                            <div>
                                <a href="{% url 'DevSignUp' %}" class="my-2 btn btn-warning">SignUp</a>
                                <a href="{% url 'DevLogIn' %}" class="btn btn-dark">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 border-top">
            </div>
            <div class="row d-flex mt-5">
                <div class="col-6 d-flex align-items-center">
                    <div class="row d-flex justify-content-center ">
                        <div class="col-8">
                            <h3>Hire Developers</h3>
                            <p style="text-align: left;">
                                Not only does CodeRank prepare candidates for technical interviews, we also help
                                companies identify top
                                technical
                                talent. From sponsoring contests to providing online assessments and training, we offer
                                numerous
                                services to businesses.
                            </p>
                            <div>
                                <a href="{% url 'InsitiutionHomePage' %}" class="btn btn-danger">For Institutions</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img src="{% static 'login_module/img/interview.svg' %}" class="rounded img-fluid" alt="">
                </div>
            </div>
            <div class="row mt-5 border-top">
            </div>
            <div class="row d-flex mt-5 mb-3">
                <div class="col-lg-6 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <h3 style="text-align: center;">CodeMirror</h3>
                            <div class="p-4">
                                <textarea class="p-3" id="samplecompiler"></textarea>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <div>
                                <p style="text-align:center;">
                                    CodeMirror is a versatile text editor implemented in JavaScript for the browser. It
                                    is
                                    specialized for editing code, and
                                    comes with a number of language modes and addons that implement more advanced
                                    editing
                                    functionality.

                                    A rich programming API and a CSS theming system are available for customizing
                                    CodeMirror
                                    to fit your application, and
                                    extending it with new functionality.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a href="https://codemirror.net/" target="_blank"
                                       class="btn btn-dark mt-2 mb-4">Learn more
                                        about
                                        CodeMirror</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12 border-sm-top">
                            <h3 style="text-align: center;">JDoodle</h3>
                            <div class="p-4 d-flex justify-content-center align-items-start">
                                <img src="{% static 'login_module/img/compiler.svg' %}"
                                     style="height: 300px; width: 400px;" class="rounded img-fluid"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <div>
                                <p style="text-align:center;">
                                    Joodle is a free Online Compiler, Editor, IDE for Java, C, C++, PHP, Perl, Python,
                                    Ruby. Code Online - Share Save
                                    Java/C/C++/Perl/Python/Ruby online. 
                                    This comes with a number of language modes and addons that implement more advanced
                                    compiling
                                    functionality. Currently this website supports Python3, more
                                    languages will be added soon.
                                </p>
                                <div class="d-flex justify-content-center mb-4">
                                    <a href="https://www.jdoodle.com/c-online-compiler/" target="_blank"
                                       class="btn btn-warning mt-4 mb-4">Learn more
                                        about
                                        JDoodle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("samplecompiler"), {
                lineNumbers: true,
                mode: "python",
                matchBrackets: true,
                lineWrapping: true,
                theme: "dracula",
                autoCloseBrackets: true,
                extraKeys: {
                    "Ctrl-Space": "autocomplete"
                }
            });

            editor.setValue("print(\"Hello, World\")\n#Press ctrl+space for AutoComplete\n\n\n\n\n\n\n\n\n\n\n\n\n")

            editor.on("beforeChange", function (_, change) {
                if (change.origin == "paste") change.cancel()
            })
        </script>
        <script src=" https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
                </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>

</html>
