{% extends "compiler_module/solve.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block workspace %}
<div class="col d-flex border-bottom ">
    <div class="col-6 pane" id="right">
        {% for problem_content in problemcontent %}
        <div class="row mt-3">
            <strong>
                Problem Statement
            </strong>
            <p class="p mt-2">
                {{ problem_content.problemstatement }}
            </p>
        </div>
        <div class="row mt-2">
            <strong>
                Problem Constraints
            </strong>
            <div class="col d-flex align-items-center" style="background-color: whitesmoke; height: 50px;">
                <h6 class="p mt-2" style="font-weight: 600;">
                    {{ problem_content.problemconstraints }}
                </h6>
            </div>
        </div>
        <div class="row mt-2">
            <strong>
                Sample Input
            </strong>
            <div class="col d-flex align-items-center" style="background-color: whitesmoke; height: 50px;">
                <h6 class="p mt-2" style="font-weight: 600;">
                    {{ problem_content.sampleinput }}
                </h6>
            </div>
        </div>
        <div class="row mt-2">
            <strong>
                Input Explanation
            </strong>
            <p class="p mt-2">
                {{ problem_content.inputexplanation }}
            </p>
        </div>
        <div class="row mt-2">
            <strong>
                Sample Output
            </strong>
            <div class="col d-flex align-items-center" style="background-color: whitesmoke; height: 50px;">
                <h6 class="p mt-2" style="font-weight: 600;">
                    {{ problem_content.sampleoutput }}
                </h6>
            </div>
        </div>
        <div class="row mt-2">
            <strong>
                Output Explanation
            </strong>
            <p class="p mt-2">
                {{ problem_content.outputexplanation }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col-6 pane" id="left">
            <form method="POST" id="codeForm" style="height: max-content;">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
            </form>
    </div>
</div>
{% endblock workspace %}
