
{% extends "compiler_module/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row border-top border-bottom">
            <ul class="nav nav-pills me-auto">
                <li class="nav-item">
                    {% if pagetitle == "Compiler" %}
                    <a class="sec-nav nav-link active" style="background-color: orange; color: #000;"
                       href="{% url 'Compiler' maintopic subtopic problem %}">Compiler</a>
                    {% else %}
                    <a class="sec-nav nav-link" href="{% url 'Compiler' maintopic subtopic problem %}">Compiler</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if pagetitle == "Submission" %}
                    <a class="sec-nav nav-link active" style="background-color: orange;  color: #000;"
                       href="{% url 'Submission' maintopic subtopic problem %}">Submission</a>
                    {% else %}
                    <a class="sec-nav nav-link" href="{% url 'Submission' maintopic subtopic problem %}">Submission</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if pagetitle == "Leaderboard" %}
                    <a class="sec-nav nav-link active" style="background-color: orange; color: #000;"
                       href="{% url 'LeaderBoard' maintopic subtopic problem %}">Leaderboard</a>
                    {% else %}
                    <a class="sec-nav nav-link"
                       href="{% url 'LeaderBoard' maintopic subtopic problem %}">Leaderboard</a>
                    {% endif %}
                </li>
                <li class="nav-item ms-auto">
                    <a href="{% url 'ViewChallenges' maintopic subtopic %}" class="btn btn-primary">Back to list</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container_fluid">
        <div class="row mt-1">
            <div>
                {% block workspace %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
